
body{
	font-family: 'Source Code Pro', '';
	font-weight: 200;
    background: #ffffff;
    margin: auto;
}

.wrapper{
    margin:3em auto;
	width:85%;
	
}

figure{
	margin:0.5em;
	padding:1em;
	width:13em;
	height:14em;
	display:block;
	float:left;
	text-align:center; 
	line-height:14em; 
}

img{
	margin:0 auto;
	position: relative;
    vertical-align: middle;
	width:100%;
}

.sm{
	width:60%;
	margin:0 auto;
}

/* -------------------------------------- FB */

#fb0{
	background:#cfe6d4;
}

#fb1{
	background:#e8f7b0;
}

#fb2{
	background:#b7cbff;
}

#fb3{
	background:#c49ace;
}

#fb4{
	background:#bed9da;
}

/* -------------------------------------- GOOGLE */

#g0{
	background:#c6cae3;
}

#g1{
	background:#ddf0e4;
}

#g2{
	background:#76c2cd;
}

#g3{
	background:#fae0df;
}

#g4{
	background:#b18bb3;
}

/* -------------------------------------- INSTAGRAM */

#ig0{
	background:#fee7d0;
}

#ig1{
	background:#ad5bbf;
}

#ig2{
	background:#d2dcec;
}

/* -------------------------------------- IOS */

#ios0{
	background:#c9bdc8;
}

#ios1{
	background:#f26f70;
}

#ios2{
	background:#ffcca6;
}

/* -------------------------------------- LINKEDIN */

#li0{
	background:#faffce;
}

#li1{
	background:#c4d2da;
}

#li2{
	background:#f7dbad;
}


/* -------------------------------------- TWITTER */

#tw0{
	background:#dcecf7;
}

#tw1{
	background:#ffcb4c;
}

#tw2{
	background:#e4d9e1;
}



/* -------------------------------------- NAV */

/*header {
	margin:0 auto;
    width:100%;  
}

nav{
	top:0;
	right:0;
	position:fixed;
	padding:1em;
	width:auto;
	z-index:999;
}

/* list items in nav */
nav ul li{
	list-style:none;
	display:inline;
	text-decoration:none;
	padding:0.5em;
}

/* linked list items in nav */
nav li a{
	text-decoration:none;
	font-size:.8em;
	line-height:1em;
	color:#404040;
	cursor:default;
}

#logo{
	padding:0em 0.5em;
	width:1.5em;
	cursor:pointer;
	min-width:40px;
}*/
