*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
	font-family: 'Arial', 'sans-serif';
	font-size: 16px;
    background: #ffffff;
}

.clearfix:after{
	content:'';
	display:block;
	clear:both;
}


/* -------------------------------------- NAV */

nav{
	display:block;
	margin:0;
	width:100%;
	z-index:999;
}

/* list items in nav */
nav ul{
	list-style:none;
	display:block;
	float:right;
	text-decoration:none;
	line-height:3em;
}

nav li{
	display:block;
	float:left;
	padding:0.5em 0.75em;
}

/* linked list items in nav */
nav li a {
	text-decoration:none;
	font-size:0.8em;
	line-height:3em;
	color:#404040;
	vertical-align:middle;
}

nav li a:hover {
	text-decoration:underline;
}

/* nav icons */
nav li img{
	line-height: 4em;
	vertical-align: middle;
	cursor:default;
}

#logo{
	padding:1em 0.5em;
	width:1.5em;
	min-width:40px;
	vertical-align: middle;
}


/* -------------------------------------- DROPDOWN TOGGLE */

label {
  	cursor:pointer;
}

#menu-toggle {
  	display: none; /* hide the checkbox */
}

#menu {
  	display: none;
}

/* the box itself */
#menu-toggle:checked + #menu {
	background:#ffffff;
	display:block;
	position:fixed;
  	right:1em;
  	margin-top:4em;
  	border:0.1em solid #cbcbcb;
  	border-radius:0.15em;
  	padding:0.5em;
  	width:22.5em;
}

/* the page icons*/
figure {
	display:block;
	width:7em;
	margin:0em;
	border:0.1em solid #ffffff;
	border-radius: 0.2em;
	padding:1em;	
}

figure:hover{
	border:0.1em solid #e4e4e4;
	cursor:pointer;
}

figure img{
	display:block;
	margin:0 auto;
}

figcaption{
	display:block;
	margin:0;
	padding:0em;
	font-size:1em;
	text-align:center;
}


/* -------------------------------------- BODY */

section{
    margin:10em auto;
    width:47%;
}


section img {
	display: block;
	margin:0em auto;
    width:40%;
}


/* -------------------------------------- QUERY FORM */

/* search form */
input{
	display: block;
	width:100%;
	margin:1.25em auto;
	border:0.1em solid #d8d8d8;
	padding:0.5em;
	outline:none;
	font-size: 1em;
}

/* search form hover */
input[type="text"]:hover{
    border: 0.1em solid #b2b2b2;
    outline:none;
}

/* search form active */
input[type="text"]:active{
    border: 0.1em solid #00a8e1;
    outline:none;
}

/* search form focus */
input[type="text"]:focus{
    border: 0.1em solid #00a8e1;
    outline:none;
}


/* -------------------------------------- QUERY RESULTS */

/* query results */
#livesearch{
	padding:0.75em;
	display:block;
	width:34.5em;
	background:
	font-size:1.75;
	font-weight:bold;
	font-style:none;
	line-height:0.8em;
	cursor:default;
}

/* unvisited link */
#livesearch a:link {
    color: #000000;
    font-style: none;
    text-decoration: none;
    display:block;
    cursor:default;
}

/* visited link */
#livesearch a:visited {
    color: #52188c;
    text-decoration: none;
    display:block;
    cursor:default;
}

/* mouse over link */
#livesearch a:hover {
    color: #00a8e1;
    text-decoration: none;
    display:block;
    height: 100%;
    cursor:default;
}

/* selected link */
#livesearch a:active {
    color: #000000;
    text-decoration: none;
    display:block;
    cursor:default;
}


/* -------------------------------------- FOOTER */

footer{
	bottom:0;
	position:fixed;
	width:100%;
	height:3em;
	border:0.1em solid #e4e4e4;
	padding:0.5em;
	background-color:#f2f2f2;
}

footer p {
	margin:0 auto;
	padding:0.5em 1em;
	float:left;
	font-size:0.8em;
	color:#666666;
	background-color:#f2f2f2;
}

footer p:hover{
	color:#000000;
	text-decoration:underline;
	cursor:pointer;
}