*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size:16px;
	font-weight: 100;
    background:#c6cae3;
}

main{
	margin:12em auto;
	display:block;
	width:51%;
}

p{
	padding:1em;
	line-height:1.05em;
	font-size:1.618em;
	text-align:left;
	color:#333333;
}

a{
	text-decoration:none;
}

a:visited{
	color:inherit;
}

span{
	line-height:1.3em;
	color:#ea189f;
}

.red1{
	color:#ed2ea8;
}

.red2{
	color:#ea189f;
}

.red3{
	color:#eb008b;
}